.services-section.services-section-blocks .services-section-items {
    overflow: hidden;
}
.services-section.services-section-blocks .services-section-items .services-section-items-wrapper {
    margin: -10px;
    overflow: hidden;
}
.services-section.services-section-blocks .services-section-items .services-section-item {
    display: block;
    float: left;
    width: 33.333333%;
    padding: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-wrapper {
    display: block;
    position: relative;
    border: 1px solid #f1f1f1;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-image {
    display: block;
}
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-circle .services-section-item-image,
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-square-small .services-section-item-image {
    margin: 36px 36px 0 36px;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-image .services-section-item-image-wrapper {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-circle .services-section-item-image .services-section-item-image-wrapper {
    padding-top: 100%;
    border-radius: 50%;
}
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-square-small .services-section-item-image .services-section-item-image-wrapper {
    padding-top: 100%;
    border-radius: 3px;
}
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-square-big .services-section-item-image .services-section-item-image-wrapper {
    padding-top: 85%;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-information {
    display: block;
    margin: 18px 45px 40px 45px;
}
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-square-small .services-section-item-information {
    margin: 18px 36px 40px 36px;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-information .services-section-item-information-name {
    display: block;
    overflow: hidden;
    height: 42px;
}
.services-section.services-section-blocks .services-section-items .services-section-item.services-section-item-image-circle .services-section-item-information .services-section-item-information-name {
    text-align: center;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-information .services-section-item-information-name .services-section-item-information-name-wrapper {
    color: #1369fe;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.services-section.services-section-blocks .services-section-items .services-section-item .services-section-item-information .services-section-item-information-description {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #505457;
    height: 84px;
}

@media all and (max-width: 1040px) {
    .services-section.services-section-blocks .services-section-items .services-section-item {
        width: 50%;
    }
}

@media all and (max-width: 780px) {
    .services-section.services-section-blocks .services-section-items .services-section-item {
        width: auto;
        float: none;
    }
}

@media all and (max-width: 720px) {
    .services-section.services-section-blocks .services-section-items .services-section-item {
        width: 50%;
        float: left;
    }
}

@media all and (max-width: 440px) {
    .services-section.services-section-blocks .services-section-items .services-section-item {
        width: auto;
        float: none;
    }
}