.share-list{
    display: block;
    margin: 0 -10px;
}
.share-list-header{
    padding: 10px;
}
.share-list .share-list-item{
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
}
.share-list .share-list-item .share-list-item-wrapper{
    display: block;
    position: relative;
    padding-bottom: 60%;
}
.share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
}
.share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-gradient{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 35%, rgba(224, 224, 224, 0.0) );
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    opacity: 0;
    transition: all 350ms linear;
}
.share-list .share-list-item .share-list-item-wrapper:hover .share-list-item-wrapper-gradient{
    opacity: 1;
    transition: all 350ms linear;
}
.share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-gradient-name{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 55%;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, rgba(224, 224, 224, 0.0) );
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all 350ms linear;
}
.share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-name{
    position: absolute;
    left: 5%;
    right: 0;
    top: 72%;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2em;
    max-height: 48px;
    max-width: 90%;
    opacity: 1;
    transition: all 350ms linear;
}
.share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-period{
    position: absolute;
    left: 5%;
    right: 0;
    top: 88%;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5em;
    max-height: 18px;
    max-width: 90%;
    opacity: 1;
    transition: all 350ms linear;
}
 .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-sale{
     position: absolute;
     left: 5%;
     top: 7%;
     padding: 7px 10px 5px 10px;
     color: #fff;
     background: #116afc;
     border-radius: 3px;
 }

 @media (max-width: 1200px) {
     .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-name{
         font-size: 15px;
         line-height: 1.0em;
         max-height: 30px;
     }
     .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-sale{
         font-size: 12px;
     }
 }
@media (max-width: 1000px) {
    .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-name{
        font-size: 13px;
        line-height: 1.0em;
        max-height: 26px;
    }
    .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-sale{
        font-size: 10px;
    }
    .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-period{
        font-weight: bold;
        font-size: 10px;
        line-height: 1.5em;
        max-height: 10px;
    }
}
@media (max-width: 740px) {
    .intec-adaptive .share-list .share-list-item{
        width: 100%;
        padding: 10px;
    }
    .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-name{
        font-size: 18px;
        line-height: 1.0em;
        max-height: 54px;
    }
}
@media (max-width: 460px) {
    .intec-adaptive .share-list .share-list-item .share-list-item-wrapper .share-list-item-wrapper-name{
        font-size: 13px;
        line-height: 1.0em;
        max-height: 26px;
    }
}