.bx_auth {	
	
}
.bx_auth a.personal_cabinet {
	font-size: 12px;	
	display: block;
	color: #78797b;
	position:relative;
	text-decoration:none;
	padding:0 20px;
	background:#ebebeb;
}
.bx_auth a.personal_cabinet.pers_mobile {
		display: none;
	}

.bx_auth a.personal_cabinet:hover {

}
.bx_auth a.logout {
	margin-left: 10px;
}
.bx_auth a.personal_cabinet:after {
	content:"";
	float:left;
	width:14px;
	height:14px;
	background:url(images/personal.png);
	margin-top: 13px;
   margin-right: 12px;
}
.bx_auth .bx_login_top_inline_link {
	display:block;
	float:left;
	font-size: 13px;
	text-decoration:none;	
	margin-left: 20px;
	text-decoration:underline;
	color: #656565;
}
@media (max-width:800px){
	.bx_auth a.personal_cabinet {
		display: block;
		background: #f7f7f9;
		padding:0;
	}
	.bx_auth a.personal_cabinet.pers_mobile {
		display: block;
		padding:0;
	}
	.adaptiv .top_panel_wrap .top_personal {
		float:none !important;
	}
}
@media (max-width:480px){
	.adaptiv .top_panel_wrap .top_personal {
		float:left;
	}
	.adaptiv .bx_auth .bx_login_top_inline_link {
		margin-right: 7px;
		margin-left:0;
	}
	.adaptiv .bx_auth{
		margin-right:0px;
		margin-left:0;
	}
	.adaptiv .bx_auth a.personal_cabinet:after {
		margin-right:5px;
	}
}