.prime-gift-el{
    padding: 1em;
    border: 1px solid #e05615;
}

.prime-gift-el div{
    display: inline-block;
    margin: -1px;
}

.prime-gift-el .pg-text{
    width: 40%;
    padding: 2em;
}

.prime-gift-el .pg-img{
    width: 60%;
}
