/* regular */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url(PT_Sans-Regular.ttf) format('ttf'),
        url(PT_Sans-Regular.woff) format('woff'),
        url(PT_Sans-Regular.eot) format('eot');
}
/* bold */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url(PT_Sans-Bold.ttf) format('ttf'),
        url(PT_Sans-Bold.woff) format('woff'),
        url(PT_Sans-Bold.eot) format('eot');
}
/* italic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'),
        url(PT_Sans-Italic.ttf) format('ttf'),
        url(PT_Sans-Italic.woff) format('woff'),
        url(PT_Sans-Italic.eot) format('eot');
}
/* bold italic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
        url(PT_Sans-BoldItalic.ttf) format('ttf');
}