.button_top {
    display:none;
    width:52px;
    height: 52px;
    background-image: url(images/top.png);
    background-position:center;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    background-image: url(images/top.png);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}