.forgot_psw_page {
	padding:20px;
	border: 1px solid #EBEBEB;
}
.bx_forgotpassword_page p {
	padding: 10px 0;
}
.bx_forgotpassword_page{
	color: #000;
	font-size: 14px;
	line-height: 20px;
	max-width: 600px;
	text-align: left;
}
.bx_forgotpassword_page .form-group label {
	font-weight:normal;
	font-size:15px;
}
.bx_forgotpassword_page .form-group input[type="text"] {
	max-width:400px;
	border-radius: 2px;
	border: 1px solid #E6E6E6;
	box-shadow: none;
	height: 45px;
}
.bx_forgotpassword_page .description {
	text-align: left;
	max-width: 450px;
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: 15px;
}
.bx_forgotpassword_page .description:before{
	float: left;
	content: '!';
	vertical-align: middle;
	font-size: 22px;
	font-weight: bold;
	background: #138eee;
	color: #fff;
	width: 28px;
	text-align: center;
	/* padding: 0 12px; */
	margin-right: 15px;
	border-radius: 100%;
	margin-bottom: 1px;
	height: 28px;
	line-height: 31px;
	margin-bottom:15px;
}
