.menu.menu-header-mobile {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.menu.menu-header-mobile .menu-button {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    z-index: 100;
}
.menu.menu-header-mobile .menu-button .menu-button-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1;
    color: #000;
}
.menu.menu-header-mobile .menu-button.menu-button-active .menu-button-icon,
.menu.menu-header-mobile .menu-button .menu-button-icon.menu-button-icon-active {
    display: none;
}
.menu.menu-header-mobile .menu-button.menu-button-active .menu-button-icon.menu-button-icon-active {
    display: inline-block;
}

.menu.menu-header-mobile .menu-wrapper {
    display: none;
    position: absolute;
    margin-top: 2px;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 100;
}

.header-fixed-menu .menu.menu-header-mobile .menu-wrapper{
    margin-top: 0;
    border-top: 1px solid #e8e8e8;
}

.menu.menu-header-mobile .menu-wrapper .menu-wrapper-2 {
    display: block;
    height: 100%;
    overflow: auto;
}
.menu.menu-header-mobile .menu-wrapper .menu-wrapper-2.menu-submenu-visible {
    overflow: hidden;
}
.menu.menu-header-mobile .menu-item,
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    text-decoration: none;
}
.menu.menu-header-mobile .menu-item .menu-item-wrapper,
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item .menu-submenu-item-wrapper {
    display: block;
    position: relative;
}
.menu.menu-header-mobile .menu-item .menu-item-text,
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item .menu-submenu-item-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #2d2d2d;
}
.menu.menu-header-mobile .menu-item.menu-item-active .menu-item-text,
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item.menu-submenu-item-active > .menu-submenu-item-wrapper > .menu-submenu-item-text {
    color: #116afc;
}
.menu.menu-header-mobile .menu-item .menu-item-pointer,
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item .menu-submenu-item-pointer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.menu.menu-header-mobile .menu-item .menu-submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
    z-index: 1;
}
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-wrapper {
    display: block;
    height: 100%;
    overflow: auto;
}
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item {}
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item.menu-submenu-item-title {
    background: #e6e6e6;
}
.menu.menu-header-mobile .menu-item .menu-submenu .menu-submenu-item-text {}